{
  "env": {
    "browser": true,
    "commonjs": true,
    "node": true,
    "es6": true,
    "jest/globals": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": [
    "@typescript-eslint",
    "jest"
  ],
  "extends": [
    "airbnb-typescript",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".ts",
          ".tsx"
        ]
      }
    },
    "react": {
      "version": "latest"
    }
  },
  "rules": {
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/indent": "off",
    "import/extensions": "off",
    "@typescript-eslint/object-curly-spacing": "off",
    "object-curly-spacing": "off",
    "@typescript-eslint/object-curly-newline": "off",
    "object-curly-newline": "off",
    "import/prefer-default-export": "off",
    "explicit-module-boundary-types": "off",
    "no-use-before-define": "off",
    "no-continue": "off",
    "no-plusplus": "off",
    "linebreak-style": [
      "error",
      "windows"
    ],
    "new-cap": [
      "error",
      {
        "capIsNew": true
      }
    ],
    "arrow-body-style": [
      "error",
      "always"
    ]
  }
}
