{
  "env": {
    "browser": true,
    "commonjs": true,
    "node": true,
    "es6": true,
    "jest/globals": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": [
    "@typescript-eslint",
    "jest"
  ],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "airbnb"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".ts", ".tsx"]
      }
    }
  },
  "rules": {
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "import/extensions": "off",
    "object-curly-spacing": "off",
    "object-curly-newline": "off",
    "import/prefer-default-export": "off",
    "explicit-module-boundary-types": "off",
    "no-use-before-define": "off",
    "indent": "off",
    "no-continue": "off",
    "no-plusplus": "off",

    "linebreak-style": ["error", "windows"],
    "new-cap": ["error", {
      "capIsNew": true
    }],
    "arrow-body-style": ["error", "always"]
  }
}
